<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <style>
    #header {
      align-items: center;
      background: #fff;
      border-bottom: 1px solid #e7e7e7;
      box-shadow: 0 4px 12px rgba(0,0,0,.1);
      font-size: 1.5em;
      padding: 1em 0;
      width: 100%;
    }

    #header div {
      text-align: center;
    }

  </style>
</head>
<body>
<header id="header">
  <div>Random Japanese</div>
</header>

<main>
  <form id="add-vocabulary" style="padding:2.5em 25%">
    <div class="form-group">
      <label for="vietnam">Việt Nam</label>
      <input class="form-control" id="vietnam" name="vietNam">
    </div>
    <div class="form-group">
      <label for="romaji">Romaji</label>
      <input class="form-control" id="romaji" name="romaji">
    </div>
    <div class="form-group">
      <label for="japan">Japanese</label>
      <input class="form-control" id="japan" name="japanese">
    </div>
    <div class="form-group">
      <label for="lesson">Lesson</label>
      <input class="form-control" id="lesson" name="lesson">
    </div>
    <button type="submit" class="btn btn-primary" id="btn-save-vocabulary">Submit</button>
  </form>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>